<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Hadoop.Avro" version="1.3.2.1" targetFramework="net45" />
  <package id="Microsoft.Research.Naiad" version="0.5.0-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Naiad.GraphLINQ" version="0.5.0-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Naiad.HdfsSupport" version="0.5.0-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Naiad.Lindi" version="0.5.0-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Naiad.Storage" version="0.5.0-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Naiad.WorkGenerator" version="0.5.0-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Peloponnese.Hadoop" version="0.8.1-beta" targetFramework="net45" />
  <package id="Microsoft.Research.Peloponnese.Shared" version="0.8.1-beta" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
</packages>